.unity-button {
    background-color: rgb(255, 255, 255);
}

.unity-button:hover {
    background-color: rgb(96, 96, 96);
    color: rgb(0, 0, 0);
}

.unity-button:selected {
    background-color: rgb(96, 96, 96);
    -unity-background-image-tint-color: rgb(255, 23, 23);
}
